PORT=5173
HOST=0.0.0.0
BRASIL_API_BASE_URL=https://brasilapi.com.br/api/cnpj/v1
CACHE_TTL_MS=600000
UPSTREAM_TIMEOUT_MS=8000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=40
SEFAZ_BA_ENDPOINT=https://nfe.sefaz.ba.gov.br/webservices/CadConsultaCadastro4/CadConsultaCadastro4.asmx
SEFAZ_CERT_PATH=cert/certificado.pfx
SEFAZ_CERT_PASSWORD=troque-esta-senha
SEFAZ_CA_PATH=
SEFAZ_REJECT_UNAUTHORIZED=true
SEFAZ_TIMEOUT_MS=12000
